TRELLO_API_KEY=your_trello_api_key
TRELLO_API_TOKEN=your_trello_api_token
TRELLO_BOARD_ID=your_board_short_id

# AWS SES email delivery
SES_FROM=TIMEBOT <noreply@savvyottermations.com>
SES_TO=you@yourcompany.com
SES_REGION=us-east-1
SES_PROFILE=savvyotter
